@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-normal{
    font-family: "Poppins", serif;
    font-weight: normal;
    font-style: normal;
  }

  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  /* shared style start */

  .text-size{
    font-size: 28px;
    font-weight: 500;
    margin: 10px 0;
  }
  .text-size2{
    font-size: 24px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 25px;
  }
  .text-size3{
    font-size: 14px;
    font-weight: 700;

  }
  
.primary-color{
    color: rgba(58, 58, 58, 1);
}
.secondary-color{
    color: rgba(24, 25, 31, 1);
}
.final-color{
    color: rgba(120, 120, 133, 1);
}
.btn-primary{
    background-color: #E02C6D;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 24px;
    color: white;
    border: none;
}
.display-flex{
    display: flex;
}

  /* header style start */

 
  .hero-section{
    max-width: calc(100% - 300px);
    margin: 100px auto;
  }

  /* nav style */
  .nav-style{
    justify-content: space-between;
    align-items: center;
  }
  .nav-style > h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(58, 58, 58, 1);
}
.ul-class{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
  ul > li{
    list-style: none;
    margin-left: 35px;
  }
  ul > li img{
    width: 30px;
    height: 30px;
  }
  ul > li a{
    text-decoration: none;
    color: rgba(58, 58, 58, 1);
    font-weight: 600;
  }

  /* banner style start */
  .banner-container{
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
   
  }
  .banner-content-title{
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .banner-content-description{
    font-weight: 600;
    max-width: 505px;
    margin-bottom: 40px;
  }
 
  .banner-container>div>img{
    background-image: url(../images/Circle\ design.svg);
  }

  .btn2{
    border-radius: 40px;
  }
  /* company logo */
  .icon-logo{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 1180px;
    margin: 100px auto;
    padding: 50px;
    border-top:  2px solid rgba(14, 13, 13, 0.055);
    border-bottom: 2px solid rgba(14, 13, 13, 0.055);
    opacity: 0.9;
  }
  /* main style start */

  #card-section{
    max-width: 1180px;
    margin: 100px auto;
    margin-top: 100px;
  }

  #card-section h2{
    font-size: 1.75rem;
    font-weight: 600;
    color: #3A3A3A;
    text-align: center;
    margin-bottom: 50px;
    }

    .card-container{
      display: flex;
      
      align-items: center;
      justify-content: center;
     row-gap: 30px;
     column-gap: 30px;
    }
    .card-container>.card{
      margin-bottom: 30px;
      
    }
    .card .card-item{
      box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.089);
      margin-bottom: 30px;
      padding: 20px;
      border-radius: 8px;
    }
   
  /* responsive media query start */

  @media screen and (max-width: 600px) {
    .nav-style{
      flex-direction: column;
      gap: 30px;
    }
    .banner-container{
      flex-direction: column-reverse;
      gap: 30px;
      text-align: center;
      
    }
    .nav-style>.ul-class{
      grid-template-columns: repeat(2, 1fr);
      column-gap: 50px;
      row-gap: 30px;
      text-align: center;
    }
    .banner-container>div>img{
      background-size: 100%;
      background-repeat: no-repeat;
      margin: 10px auto;
    }
    

   .icon-logo{
    grid-template-columns: repeat(2, 1fr);
    border: none;
    padding: 0;
    column-gap: 50px;
      row-gap: 30px;
      justify-content: center;
   }
   .banner-content1>img{
    width: 90;
   }

   .card-container{
    flex-direction: column;
   }
    }

    /* medium device */
    @media screen and (min-width: 600px) and (max-width: 1100px) {
      .nav-style{
        flex-direction: column;
        gap: 30px;
      }
      .icon-logo{
        grid-template-columns: repeat(4, 1fr);
        border: none;
        padding: 0;
        column-gap: 50px;
          row-gap: 30px;
          justify-content: center;
          text-align: center;
       }
       .banner-container{
        justify-content: center;
        text-align: center;
        flex-direction: column-reverse;
        gap: 50px;
       }
       .card-container{
        flex-direction: column;
       }
    }
    
   
  